<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Talk</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="heading">
        <header>
          <h1>The Tech Talk</h1>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light">
          {{#if loggedIn}}
            <a style="color: #96F550" class="navbar-brand" href="/posts">Tech
              Talk</a>
          {{else}}
            <a style="color: #96F550" class="navbar-brand" href="/">Tech Talk</a>
          {{/if}}
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {{#if loggedIn}}
                <li class="nav-item">
                  <a
                    style="color: #96F550"
                    class="nav-link active"
                    aria-current="page"
                    href="/posts"
                  >Home</a>
                </li>
                <li class="nav-item">
                  <a
                    style="color: #96F550"
                    class="nav-link active"
                    aria-current="page"
                    href="/"
                  >Dashboard</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a
                    style="color: #96F550"
                    class="nav-link active"
                    aria-current="page"
                    href="/"
                  >Home</a>
                </li>
              {{/if}}
              {{#if loggedIn}}
                <li class="nav-item">
                  <a
                    style="color: #96F550"
                    class="nav-link"
                    href="#"
                    id="logout"
                  >Logout</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a
                    style="color: #96F550"
                    class="nav-link"
                    href="/login"
                  >Login</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </nav>
      </div>

      {{{body}}}

    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script src="/js/logout.js"></script>
  </body>
</html>