<div class="row my-3">
    <div class="col">
        <h2 class="my-2">Welcome to The Tech Talk!</h2>
        <h3 class="my-3">Please sign in:</h3>
        <a class="btn btn-dark" href="/login">Sign In</a>
    </div>
</div>
<div class="row my-3">
    <div class="col">
        <h3 class="my-3">New user?</h3>
        <a class="btn btn-dark" href="/newUser">Create User</a>
    </div>
</div>