<div class="row">
    <div class="col-4 my-3">
        <div class="input-group mb-3">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="user1234@email.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="myPassword">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>