<div class="row text-center">
    <h2>Write a new post!</h2>
</div>

<div class="row text-center" id="postHeader">
    <div class="col-9 box m-auto">
        <div class="row">
            <div class="mb-3">
                <form id="postForm">
                    <input type="text" class="form-control text-center my-2" id="title" placeholder="Post title" required>
                    <textarea class="form-control" id="postText" rows="4" placeholder="Write post here..."></textarea>
                    <button type="submit" class="btn btn-dark my-2" style="width: 150px;">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="./js/newPost.js"></script>