<div class="row text-center postRow mb-3">
    <div class="col-sm-9 box m-auto">
        <div class="row">
            <div class="mb-1">
                <div class="postHeader">
                    <h3 class="text-black postTitle">Title: {{posts.title}}</h3>
                    <p class="text-black mb-0">Posted by: {{posts.user.username}} on {{posts.posted_date}}</p>
                </div>
                <p class="text-black postText mb-0" style="text-align: left;">{{posts.text}}</p>
                <a class="btn" id="viewBtn" href="#">Comment</a>
            </div>
        </div>
    </div>
</div>
