* {
    font-family: 'Orbitron', sans-serif;
    color: #96F550;
}

body {
    background-color: #393D3F;
}

#heading, .btn {
    background-color: black;
    border: solid 2px #96F550;
    color: #96F550;
}


.box {
    background-color: #96F550;
    border: black 2px solid;
    border-radius: 15px;
    color: black;
}

.text-black {
    color: black;
}

#postText, #title, .postText, #commentText {
    border: solid 2px black;
    background-color: #d0ffaf;
    padding: 5px 0px 5px 10px;
}


.navbar-toggler-icon {
    background-color: #d0ffaf;
}

.navbar-toggler {
    background-color: #96F550;
}

#commentForm {
    top:50px;
    display: none;
}

.lowerPostBtn {
  position: fixed;
  bottom: 30px;
  right: 30px
}

@media screen and (max-width: 900px) {
  .lowerPostBtn {
    display: none;
  }
}